#main {
  .items {
    .container {
      .wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        &__cards {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          justify-content: center;
          align-items: center;
          gap: 24px;
          padding: 20px 0;
          &__card {
            transition: .5s;

            &.showFull{
              position: fixed;
              top: 50%;
              left: 50%;
              width: 100vw;
              height: 100vh;
              z-index: 9999;
              transform: translate(-50%,-50%);
            }
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.05);
            padding: 16px 0;
            gap: 8px;
            transition: 0.5s all ease;
            border-radius: 12px;
            background: linear-gradient(40deg, #555555, grey);
            box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
            &--options {
              display: flex;
              flex-direction: column;
              gap: 8px;
              position: absolute;
              top: 20px;
              right: 20px;
              opacity: 0;
              transition: 0.3s all ease-in-out;
              .fa-solid {
                color: #49584f;
                &:hover {
                  color: #e7bb42;
                }
              }
            }
            &:hover {
              .wrapper__cards__card--options {
                opacity: 1;
              }
            }
            img {
              width: 400px;
              height: 350px;
            }
            h2 {
              color: #242423;
              font-size: 24px;
              font-weight: 400;
              padding: 20px;
              letter-spacing: 2px;
            }
            h3 {
              color: #382100;
              font-weight: 400;
              font-size: 16px;
              padding: 20px;
              letter-spacing: 2px;
            }
          }
        }
      }
    }
  }
}
