@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Clicker+Script&family=Fredoka+One&family=Indie+Flower&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Labrada:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Space+Grotesk:wght@300;400;500;600;700&family=Zeyada&display=swap");
@import "./storeHeader";
@import "./main";
@import "./footer";

body {
  background-color: #a09f81;
  overflow-x: hidden;
  #up {
    cursor: pointer;
    position: fixed;
    bottom: 36px;
    right: 12px;
    width: 50px;
    border-radius: 30px;
    border: none;
    background-color: #49584f;
    color: #dfdfdf;
    opacity: 0.6;
  }
}

.navs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  padding: 20px 0;
  background-color: #a09f81;
  a {
    font-size: 16px;
    color: #5a5959;
    // &:nth-child(2) {
    //   color: #242423;
    // }
    &:hover {
      border-bottom: 1px solid #242323;
      padding-bottom: 4px;
      color: #242323;
    }
  }
}
html {
  &::-webkit-scrollbar {
    width: 20px;
  }
  &::-webkit-scrollbar-track {
    background-color: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background-image: url("/assets/pics/guitar.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90px;
  }
}
